{% extends "base.html" %}

{% block _content %}


<h1>ini halaman tambah mahasiswa</h1>
<hr>
<!-- <form action="{{ url_for('tambah_usr') }}" method="POST">
  <div class="form-group">
    <label for="nama">Nama Lengkap</label>
    <input type="text" class="form-control" id="nama" name="nama" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="no_hp">NO Handphone</label>
    <input type="number" class="form-control" id="no_hp" name="no_hp" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Tambah Registrasi">
  
</form> -->


{% endblock %}